name: awstools

on:
  workflow_dispatch:
  push:
    branches: 
    - master  
    paths: 
    - '.github/workflows/awstools.yml'

jobs:
  tools-nuget:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '9.0' ]
    env:
      working-directory: ./BrowserDemo/CshtmlDemo
      bucketname: osim-onecloud-cdn-devtest
      keyprefix: uploaddemo
      localpath: ./bin/Release/net9.0/publish/wwwroot
      
    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ matrix.dotnet-version }}
        include-prerelease: true
    - name: Install dependencies      
      run: dotnet publish -c Release
      working-directory: ${{env.working-directory}}
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_ACCESS_SECRET }}
        aws-region: ${{ secrets.AWS_REGION }}
    
    - name: delete
      run: aws s3 rm ${{ secrets.S3PATH }}demo/ --recursive
    
    - name: publish
      run: aws s3 sync ${{env.localpath}} ${{ secrets.S3PATH }}demo/ --acl private
      working-directory: ${{env.working-directory}}
    
    - name: cnd invalidation
      run: aws cloudfront create-invalidation --distribution-id ${{ secrets.CDN_ID }} --paths "/demo/*" 
        
      
